.curved-loop-jacket {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 60px 0 0;
}

.curved-loop-svg {
  user-select: none;
  width: 100%;
  aspect-ratio: 100 / 12;
  overflow: visible;
  display: block;
  font-size: 4rem;
  fill: var(--text);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  font-family: var(--serif);
}

@media (max-width: 768px) {
  .curved-loop-svg {
    font-size: 2rem;
  }
}
